/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}

*:focus{
	outline:none;
}

body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border:none;

}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
textarea{
	resize: none;
}
input[type="submit"]{
	cursor: pointer;
}
blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/* ===== Default classes start */
/* 
	text color, text align, float, backgrounds colors, text transform
*/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.bg-black {
	background-color: #111;
}

.bg-grey {
	background-color: #f8f8f8;
}
/* ===== Default classes end */
/* ===== Default component start ===== */
/* 
	Buttons, text, title, section, small-section header, footer,
	form elements, icons, tabs, blockquote, container 
*/
.default-section {
	padding: 135px 0;
/*	overflow: hidden;*/
}

.small-section {
	padding: 70px 0;
}

.container {
	max-width: 1200px; /* 1200 - 30 = 1170 */
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: .5em; /* 0.5em = .5em */
	margin-bottom: 75px;
	font-weight: 400;
	line-height: 18px;
}
.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}

.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}

blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span, 
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans';
	letter-spacing: .2em;
}

.btn[disabled]{
	cursor: not-allowed;
	opacity: .6;
}

.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #d1d0d0;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}

.form-control{
	width: 100%;
	border:1px solid #e5e5e5;
	border-radius:2px;
	height: 40px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #fff;
}

.form-control:focus{
	border-color: #111;
}

textarea.form-control{
	min-height: 82px;
	padding-top: 10px;
}

.form-control[disabled], .form-control.disabled{
	cursor: not-allowed;
	opacity: .6;
}

.form-control.error{
	border-color:#f57e7e;
}

.form-info{
	font-size: 11px;
	font-weight: 400;
	color:#aaa;
}

.form-info .fa{
	font-size: 12px;
}

.tabs-nav li{
	float: left;
	outline:none;
	font-size: 13px;
	font-family: 'Dosis';
	font-weight: 400;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color:rgba(17, 17, 17, .5);
}
/* ===== Default component end ===== */
/*Guide start*/
.guide-section form .form-control{
	margin-bottom: 10px;
}
/*Guide end*/
/* ===== Custom start =====*/

/* !=== HEADER ===! */
.header{
  padding: 25px 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .header-logo{
	float: left;
	opacity: .9;
}

.header .header-nav{
	float: right;
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;   /*Сначала думал поставить в .header, (вместе с свойством color) но потом решил сюда, надеюсь это не ошибка, на то есть свои обоснования*/
	font-size: 11px;
  letter-spacing: 0.3em;
}

.header .header-nav li {
	float: left;
	line-height: 21px;
}

.header .header-nav li + li{
	margin-left: 32px;
}

/*!=== INNER ===!*/
.inner{
	background: rgba(0, 0, 0, .3) url(../img/bg-inner.jpg) no-repeat center / cover;
	background-blend-mode: multiply;
	height: 100vh;
	color: #fefefe;
	padding-top: 72px;
}

.inner::before{
	content:'';
	display: inline-block;
	height:100%;
	vertical-align: middle;
	margin-left: -4px;
}

.inner-content{
	display: inline-block;
	vertical-align: middle;
}

.title.inner-title{
	font-size: 30px;
	letter-spacing:1.7em;
	text-indent:1.7em;
	margin-bottom: 95px;
	color:rgba(254, 254, 254, .9);
}

.inner-description{
	font-size: 19px;
	color:rgba(254, 254, 254, .68);
}

/*!======ABOUT Studio=======!*/

.about-studio .team-wrapper{
	margin-top: 105px;
}

.team-item .team-item-img{
	position: relative;
}

.team-item .team-item-skills{
	opacity:0;
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	background-color: #000;
	transition:all 0.5s linear;
}

.team-item .team-item-img:hover .team-item-skills{
	opacity:1;
}

.team-item .team-item-info{
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

.team-item-info span{
	display: block;
}

.team-item-info span + span{
	margin-top: 13px;
}

.team-item-info .team-item-name{
	font-size: 15px;
}

.team-item-info .team-item-role{
	font-size: 12px;
}

/*----Services start-----*/
.services{
	border-top:1px solid #ececec;
}

.tabs-wrapper{
	margin-bottom: 35px;
}

#tabs .tabs-nav li{	
	width: 20%;
	font-size: 14px;
}

#tabs .tabs-nav li .icon{
	font-size: 48px;
	margin-bottom: 34px;
}

#tabs .tabs-nav li span {
	display: block;
}

#tabs .tabs-nav li.ui-state-active {
	color: rgba(17, 17, 17, 1);
}

#tabs .row .col{  /*Ужастный електор, но обращение через список, строчку и прочее не работает. Буду благодарен если посоветуете решение*/
	margin-top: 75px;
}

/*----Services end-----*/


/*Lets Talk Start*/
.lets-talk-content{
	padding: 140px 0;
}

/*Lets Talk Start*/
.lets-talk-content p{
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}

.lets-talk .lets-talk-img{
	margin-top: -32px;
}
/*Lets Talk End*/

/*PORTFOLIO START*/
.portfolio{
	padding-bottom: 0;
}

.portfolio .portfolio-text{
	max-width:752px;
	margin:auto;
}

.portfolio-tabs-wrap{
	margin-top: 75px;
}

#tabs-portfolio{
	width:100%;
	overflow: hidden;
	text-align: center;
}

#tabs-portfolio ul{
	display: inline-block;
	margin-bottom: 48px;
}

#tabs-portfolio .tabs-nav li.ui-state-active{
	color:rgba(17, 17, 17, 1);
}

#tabs-portfolio .tabs-nav li + li{
	margin-left: 65px;
}

#tabs-portfolio .portfolio-item{
	padding:4px;
	width:33.333%;
	float:left;
}

#tabs-portfolio .portfolio-item img{
	width:100%;
	filter: grayscale(100%);
	transition:filter 0.5s linear;
}

#tabs-portfolio .portfolio-item img:hover{
	filter: grayscale(0);
}


/*PORTFOLIO END*/

/*WHY-CHOOSE-US START*/

.why-choose-us .advantage-wrapper .row + .row{
	margin-top: 85px;
}

.advantage-content{
	font-size: 15px;
}

.advantage-content .advantage-content-title{
	margin-bottom: 30px;
	font-family: 'Dosis',sans-serif;
	font-weight: 400;
}

.advantage-content .advantage-icon{
	font-size: 48px;
	letter-spacing: 0.5em;
	color: #111;
	margin-bottom: 30px;
}

.advantage-content .advantage-title{
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #111;
}

.advantage-content .advantage-content-description{
	letter-spacing: 0;
	line-height:26px;
}
/*WHY-CHOOSE-US END*/

/*LIKE OUR WORKS START*/
.like-our-works .like-our-works-btn button{
	font-size: 14px;
	line-height: 1.857;
	padding:12px 35px;
	background-color: #cfcfcf;
}
.like-our-works .like-our-works-btn button:hover{
background-color: #dcdcdc;
}
/*LIKE OUR WORKS END*/

/*LATEST NEWS START*/
.latest-news .title a{
	float:right;
	font-size: 11px;
	letter-spacing:0.4em;
	color:#999999;
}

.latest-news .news-item .news-title{
	margin: 30px 0;
	font-family: 'Dosis';
	text-transform: uppercase;
}

.latest-news .news-item .news-item-img img{
	max-height:100%;
	filter: grayscale(100%);
	transition:filter 0.5s linear;
}

.latest-news .news-item .news-item-img img:hover{
	filter: grayscale(0);
}

.latest-news .news-item .news-title a{
	font-size: 15px;
	letter-spacing: 0.2em;
}

.latest-news .news-item .news-title span{
	display: block;
	letter-spacing: 0.4em;
	font-size: 11px;
	color:#999;
	margin-top: 12px;
}

.latest-news .news-item .news-description{
	margin-bottom: 25px;
}
/*LATEST NEWS END*/

/*Subscribe start*/
.subscribe form .form-control{
	max-width:290px;
}

.subscribe .form-info{
	margin-top: 17px;
}

.subscribe .form-info i{
	margin-right: 3px;
}
/*Subscribe end*/
/*===== Custom end =====*/

