/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}

*:focus{
	outline:none;
}

body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border:none;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
textarea{
	resize: vertical;
}
input[type="submit"]{
	cursor: pointer;
}
blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/* ===== Default classes start */
/* 
text color, text align, float, backgrounds colors, text transform
*/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.bg-black {
	background-color: #111;
}

.bg-grey {
	background-color: #f8f8f8;
}

.m-auto{
	float:none;
	margin:0 auto;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}
/* ===== Default classes end */
/* ===== Default component start ===== */
/* 
Buttons, text, title, section, small-section header, footer,
form elements, icons, tabs, blockquote, container 
*/
.default-section {
	padding: 135px 0;
	/*	overflow: hidden;*/
}

@media (max-width: 767px) {
	.default-section{
		padding: 70px 0;
}
}

@media (max-width: 767px) {
	.default-section{
		padding: 35px 0;
}
}

.small-section {
	padding: 70px 0;
}

.container {
	max-width: 1200px; /* 1200 - 30 = 1170 */
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}

.title.title-white {
	color: #fff;
}

.title.section-title {
	font-size: 18px;
	letter-spacing: .5em; /* 0.5em = .5em */
	margin-bottom: 75px;
	font-weight: 400;
	line-height: 18px;
}

.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}

.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}

blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}

blockquote span, 
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

@media (max-width: 991px) {
	blockquote{
		margin-bottom: 30px;
	}
}

.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans';
	letter-spacing: .2em;
}

.btn[disabled]{
	cursor: not-allowed;
	opacity: .6;
}

.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #d1d0d0;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}

.form-control{
	width: 100%;
	border:1px solid #e5e5e5;
	border-radius:2px;
	height: 40px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #fff;
}

.form-control:focus{
	border-color: #111;
}

textarea.form-control{
	min-height: 90px;
	padding-top: 10px;
}

.form-control[disabled], .form-control.disabled{
	cursor: not-allowed;
	opacity: .6;
}

.form-control.error{
	border-color:#f57e7e;
}

.form-info{
	font-size: 11px;
	font-weight: 400;
	color:#aaa;
}

.form-info .fa{
	font-size: 12px;
}

.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius:2px;
	font-size: 14px;
	transform: rotate(45deg);
}

.rhomb-icon i{
	transform: rotate(-45deg);
}

.rhomb-icon.black-icon{
	color:#fff;
	background-color: #111;
}

.rhomb-icon.white-icon{
	color:#111;
	background-color: #fff;
}

.rhomb-icon.transparent-icon{
	color:#111;
	background-color: transparent;
	border:1px solid #111;
}

.arrow-up{
	font-size: 50px;
	color:#c6c6c6;
	position: fixed;
	right:30px;
	bottom:30px;
	cursor: pointer;
}
/* ===== Default component end ===== */
/*GUIDE START*/
.guide-section form .form-control{
	margin-bottom: 10px;
}
/*GUIDE END*/
/* ===== Custom start =====*/

/*HEADER START*/
.header{
	padding: 25px 0;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header .header-logo{
	float: left;
	opacity: .9;
}

.header .header-nav{
	float: right;
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;   
	font-size: 11px;
	letter-spacing: 0.3em;
}

.header .header-nav li {
	float: left;
	line-height: 21px;
}

.header .header-nav li + li{
	margin-left: 32px;
}

.slicknav_menu{
	display: none;
}

@media (max-width: 767px) {
	.slicknav_menu{
		display: block;
	}
	.header-nav{
		display: none;
	}
	.header .header-logo{
		line-height: 41px;
	}
} 

@media (max-width: 576px) {
	.header{
		padding: 13px 0;
	}
}
/*HEADER END*/

/*INNER START*/
.inner{
	background: rgba(0, 0, 0, .3) url(../img/bg-inner.jpg) no-repeat center / cover;
	background-blend-mode: multiply;
	height: 100vh;
	color: #fefefe;
	padding-top: 72px;
	position: relative;
}

.inner::before{
	content:'';
	display: inline-block;
	height:100%;
	vertical-align: middle;
	margin-left: -4px;
}

.inner-content{
	display: inline-block;
	vertical-align: middle;
}

.title.inner-title{
	font-size: 30px;
	letter-spacing:1.7em;
	text-indent:1.7em;
	margin-bottom: 95px;
	color:rgba(254, 254, 254, .9);
}

.inner-description{
	font-size: 19px;
	color:rgba(254, 254, 254, .68);
}


.inner .inner-item-scroll{
	position: absolute;
	bottom:20px;
	left:49%;
}

.inner .inner-item-scroll i{
	font-size: 11px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

@media (max-width: 991px) {
	.title.inner-title{
		letter-spacing:.7em;
		text-indent:.7em;
		margin-bottom: 50px;
}
}

@media (max-width: 767px) {
	.inner{
		height:auto;
		padding: 175px 0;
	}
}

@media (max-width: 576px) {
	.title.inner-title{
		font-size: 26px;
	}
}

@media (max-width: 479px) {
	.title.inner-title{
		font-size: 19px;
		letter-spacing: normal;
    text-indent: 1em;
	}
	.inner-description{
		font-size: 16px;
	}
}
/*INNER END*/

/*ABOUT STUDIO START*/
.about-studio .team-wrapper{
	margin-top: 105px;
}

.team-item .team-item-img{
	position: relative;
}

.team-item .team-item-skills{
	opacity:0;
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	background-color: #000;
	transition:all 0.5s linear;
	padding: 40px;
}

.team-item-skills .skills-title{
	font-family: 'Dosis';
	font-weight: 400;
	font-size: 18px;
	line-height: 38px;
	letter-spacing:0.3em;
	text-transform: uppercase;
	color: #fff;
}

.team-item-skills .skills-description{
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	color:rgba(255,255,255, .5);
	margin:17px 0 24px;
}

.team-item .team-item-img:hover .team-item-skills{
	opacity:1;
}

.skill-item + .skill-item{
	margin-top: 5px;
}

.skill-item span{
	font-size: 11px;
	line-height: 38px;
	letter-spacing:.2em;
	text-transform: uppercase;
	color: rgba(255,255,255, .9);
	display: block;
}

.progress-wrap{
	width: 100%;
	height: 12px;
	background-color: rgba(255,255,255, .15);
	margin-top: -7px;
}

.progress-wrap .progress{
	background-color: rgba(255,255,255, .75);
	width: 0%;
	height: 12px;
	transition: width .5s linear;
}

.progress-wrap .progress.branding{
		transition: width .7s linear;
}

.progress-wrap .progress.design{
		transition:width .7s linear .4s;
}

.progress-wrap .progress.development{
		transition: width .7s linear .5s;
}

.progress-wrap .progress.photography{
		transition:width .7s linear .3s;
}

.team-item .team-item-img:hover .branding{
	width:75%;
}

.team-item .team-item-img:hover .design{
	width:90%;
}

.team-item .team-item-img:hover .development{
	width:80%;
}

.team-item .team-item-img:hover .photography{
	width:69%;
}

.team-item .team-item-info{
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-family: 'Dosis';
	font-weight: 400;
}

.team-item-info span{
	display: block;
}

.team-item-info span + span{
	margin-top: 13px;
}

.team-item-info .team-item-name{
	font-size: 15px;
}

.team-item-info .team-item-role{
	font-size: 12px;
}

@media (max-width: 991px) {
	.team-item-info .team-item-name{
		font-size: 12px;
}
	.team-item-info .team-item-role{
		font-size: 9px;
}
}

@media (max-width: 767px) {
	.about-studio .col-sm-12:last-child{
		margin-top:20px;
	}
	.about-studio .team-wrapper{
		margin-top: 35px;
	}
	.team-wrapper .team-item{
		text-align: center;
		margin-bottom: 25px;
	}
}

@media (max-width: 767px) {
	.about-studio{
		padding-top: 40px;
	}
	.about-studio .title{
		margin-bottom: 35px;
	}
}
/*ABOUT STUDIO END*/

/*SERVICES START*/
.services{
	border-top:1px solid #ececec;
}

.tabs-wrapper{
	margin-bottom: 35px;
}

#tabs .tabs-nav{
	overflow:hidden;
	margin-bottom: 75px;
}

.tabs-nav li{
	float: left;
	outline:none;
	font-size: 13px;
	font-family: 'Dosis';
	font-weight: 400;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color:rgba(17, 17, 17, .5);
}

#tabs .tabs-nav li{	
	width: 20%;
	font-size: 14px;
}

#tabs .tabs-nav li .icon{
	font-size: 48px;
	margin-bottom: 34px;
}

#tabs .tabs-nav li span {
	display: block;
}

#tabs .tabs-nav li.ui-state-active {
	color: rgba(17, 17, 17, 1);
}

#tabs .tabs-panel{
	clear:both;
}

@media (max-width: 991px){
	#tabs .tabs-nav li{
		font-size: 12px;
	}
	#tabs .tabs-nav{
		margin-bottom: 40px;
	}
}

@media (max-width: 767px){
	#tabs .tabs-nav li{
		width: 33.333%;
	}
	#tabs .tabs-nav li:nth-child(4), #tabs .tabs-nav li:nth-child(5){
		margin-top: 30px;
	}
	#tabs .row .col-sm-12:last-child{
		margin-top:20px;
	}
}

@media (max-width: 479px){
	#tabs .tabs-nav li{
		float:left;
		width: 50%;
	}
	#tabs .tabs-nav li:nth-child(3), #tabs .tabs-nav li:nth-child(4), #tabs .tabs-nav li:nth-child(5){
		margin-top: 30px;
	}
}
/*SERVICES END*/


/*LETS TALK START*/
.lets-talk-content{
	padding: 140px 0;
}

.lets-talk-content p{
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}

.lets-talk .lets-talk-img{
	margin-top: -32px;
}

@media (max-width: 991px){
	.lets-talk-content{
		padding: 70px 0;
	}
}

@media (max-width: 576px) {
	.lets-talk-content .btn{
		display: block;
		margin: 0 auto;

	}
}

@media (max-width: 479px) {
	.lets-talk-content .btn{
		display: block;
		width: 100%;
    margin-top: 15px;
	}
}
/*LETS TALK END*/

/*PORTFOLIO START*/
.portfolio{
	padding-bottom: 0;
}

.portfolio .portfolio-text{
	max-width:752px;
	margin:auto;
}

.portfolio-tabs-wrap{
	margin-top: 75px;
}

#tabs-portfolio{
	width:100%;
	overflow: hidden;
	text-align: center;
}

#tabs-portfolio ul{
	margin-bottom: 48px;
}

#tabs-portfolio .tabs-nav li{
	float:none;
	display: inline-block;
}

#tabs-portfolio .tabs-nav li.ui-state-active{
	color:rgba(17, 17, 17, 1);
}

#tabs-portfolio .tabs-nav li + li{
	margin-left: 65px;
}

#tabs-portfolio .portfolio-item{
	padding:4px;
	width:33.333%;
	float:left;
}

#tabs-portfolio .portfolio-item img{
	width:100%;
	filter: grayscale(100%);
	transition:filter 0.5s linear;
}

#tabs-portfolio .portfolio-item img:hover{
	filter: grayscale(0);
}

@media (max-width:991px) {
	#tabs-portfolio .portfolio-item{
		width:50%;
	}
}

@media (max-width: 767px){
	#tabs-portfolio .tabs-nav li + li{
		margin-left: 0;
		margin-top:10px;
	}
	#tabs-portfolio .tabs-nav li{
		width: 100%;
		font-size: 16px;
	}
	#tabs-portfolio .portfolio-item{
		width:100%;
	}
}
/*PORTFOLIO END*/

/*WHY-CHOOSE-US START*/

.why-choose-us .advantage-wrapper .row + .row{
	margin-top: 85px;
}

.advantage{
	font-size: 15px;
}

.advantage .advantage-title{
	margin-bottom: 30px;
	font-family: 'Dosis',sans-serif;
	font-weight: 400;
}

.advantage .advantage-icon{
	font-size: 48px;
	letter-spacing: 0.5em;
	color: #111;
	margin-bottom: 30px;
}

.advantage .advantage-title{
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #111;
}

.advantage .advantage-description{
	letter-spacing: 0;
	line-height:26px;
}

@media (max-width:991px) {
	.advantage{
		text-align: center;
		margin-bottom: 30px;
	}
	.why-choose-us .advantage-wrapper .row + .row{
		margin-top: 0px;
}
}
/*WHY-CHOOSE-US END*/

/*LIKE OUR WORKS START*/
/*LIKE OUR WORKS END*/

/*REVIEWS CAROUSEL START*/
.reviews-carousel{
	padding:135px 0;
	overflow:hidden;
}

.slide-content .icon{
	font-size: 32px;
	color:#fff;
}

.slide-content .title{
	font-family: 'Dosis';
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.3em;
	margin-bottom: 38px;
	margin-top: 22px;
}

.slide-content p{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color:rgba(255, 255, 255, .75);
	max-width: 735px;
	margin:0 auto;
} 

.slide-content .review-author{
	display: inline-block;
	font-size: 11px;
	line-height: 38px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color:rgba(255, 255, 255, .3);
	margin-top: 27px;
}

.slick-dots{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom:30px;
}

.slick-dots li{
	display: inline-block;
	width: 9px;
	height:9px;
	background-color: rgba(255, 255, 255, .8);
	border:1px solid #000;
	border-radius:50%;
	cursor:pointer;
}

.slick-dots li button{
	display: none;
}

.slick-dots li.slick-active{
	background-color: #000;
	border-color:rgba(255, 255, 255, .8);
}

.slick-dots li + li{
	margin-left: 5px;
}

.slick-arrow{
	position: absolute;
	height:100%;
	top:0;
	z-index:1;
	width:90px;
	cursor:pointer;
}

.slick-arrow.slick-prev{
	left:0;
} 

.slick-arrow.slick-next{
	right:0;
}

.slick-arrow.slick-next .carousel-button{
	right:0;
	margin-right: -31px;
}

.slick-arrow .carousel-button{
	width: 63px;
	height: 63px;
	background: #fff;
	text-align: center;
	line-height: 63px;
	transform:rotate(-45deg);
	position:absolute;
	top:50%;
	margin-left: -32px;
	margin-top: -31px;
}

.slick-arrow .carousel-button .fa{
	position: absolute;
	transform:rotate(45deg);
	font-size: 10px;
}

.slick-arrow.slick-prev .carousel-button .fa{
	bottom:14px;
	right:17px;
}

.slick-arrow.slick-next .carousel-button .fa{
	left:14px;
	top:17px;
}

@media (max-width:991px) {
	.slide-content p{
		max-width:680px;
	}
}

@media (max-width:767px) {
	.slide-content p{
		max-width:500px;
	}
}

@media (max-width: 576px) {
	.slide-content p{
		max-width:350px;
	}
}


@media (max-width:479px) {
	.slide-content p{
		max-width: 250px;
    font-size: 14px;
	}
	.slick-arrow .carousel-button{
		width: 46px;
    height: 46px;
	}
	.slick-arrow.slick-prev .carousel-button .fa{
		bottom: 2px;
    right: 7px;
	}
	.slick-arrow.slick-next .carousel-button .fa{
		left: 3px;
    top: 4px;
	}
}
/*REVIEWS CAROUSEL END*/

/*LATEST NEWS START*/
.latest-news .title a{
	float:right;
	font-size: 11px;
	letter-spacing:0.4em;
	color:#999999;
}

.latest-news .news-item .news-title{
	margin: 30px 0;
	font-family: 'Dosis';
	text-transform: uppercase;
}

.latest-news .news-item .news-item-img img{
	max-height:100%;
	filter: grayscale(100%);
	transition:filter 0.5s linear;
}

.latest-news .news-item .news-item-img img:hover{
	filter: grayscale(0);
}

.latest-news .news-item .news-title a{
	font-size: 15px;
	letter-spacing: 0.2em;
}

.latest-news .news-item .news-title span{
	display: block;
	letter-spacing: 0.4em;
	font-size: 11px;
	color:#999;
	margin-top: 12px;
}

.latest-news .news-item .news-description{
	margin-bottom: 25px;
}

@media (max-width: 991px) {
	.latest-news .news-item .news-item-img img{
		width:100%;
	}
	.latest-news .news-item{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom:1px solid #e5e5e5;
	}
}

@media (max-width: 576px) {
	.latest-news .news-item .btn{
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 479px) {
	.latest-news .news-item .btn{
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}
/*LATEST NEWS END*/

/*SUBSCRIBE START*/
.subscribe form .form-control{
	max-width:290px;
}

.subscribe .form-info{
	margin-top: 17px;
}

.subscribe .form-info i{
	margin-right: 3px;
}

@media (max-width: 479px) {
	.subscribe .btn{
		display: block;
		width: 100%;
    margin-top: 15px;
	}
	.subscribe .form-info{
		margin-top: 13px;
	}
	.subscribe form .form-control{
		max-width: 100%;
	}
}
/*SUBSCRIBE END*/

/*CONTACTS START*/
.contact-items-wrapper{
	margin-bottom: 80px;
}

.contact-item .contact-item-content{
	display: inline-block;
	vertical-align: middle;
}

.contact-item .contact-item-content{
	margin-left: 10px;
}

.contact-item .contact-item-content span{
	display: block;
}

.contact-item .contact-item-content .contact-title{
	font-family: 'Dosis';
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.3em;
	color:#777;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.contact-item .contact-item-content .contact-date{
	font-size: 15px;
	line-height:24px;
	letter-spacing: 0;
	color:#444;
	font-weight: 300;
}

.contact-form{
	margin: 0 -5px;
}

.contact-form .inputs-container{
	overflow:hidden;
}

.contact-form .form-col{
	float: left;
	width: 50%;
	padding: 0 5px;
}

.contact-form .form-control + .form-control{
	margin-top: 10px;
}

.contact-form .form-send-info{
	margin:0 5px;
	margin-top: 20px;
}

.contact-form .form-send-info .form-info{
	line-height: 41px;
}

.contact-form .form-send-info .form-info i{
	margin-right: 5px;
}

@media (max-width: 767px){
	.contacts{
		padding: 50px 0;
	}
	.contacts .title{
		margin-bottom: 50px;
	}
	.contact-form .form-col{
    width: 100%;
	}
	.contact-form .form-col + .form-col{
		margin-top: 10px;
	}
	.contact-items-wrapper{
		margin-bottom: 50px;
	}
	.contact-items-wrapper .row .col{
		display: block;
    width: 100%;
    text-align: center;
	}
	.contact-items-wrapper .contact-item{
		padding: 18px 0;
	}
	.contact-items-wrapper .contact-item-icon{
		margin: 0 auto;
		display: block;
	}
	.contact-item .contact-item-content{
		margin-left: 0;
		margin-top: 15px;
	}
}

@media (max-width: 479px) {
	.form-send-info .btn{
		display: block;
		width: 100%;
    margin-top: 15px;
	}
}
/*CONTACTS END*/

/*MAP START*/
.map-container{
	position: relative;
}

.map-container:hover .on-map-block{
	display: none;
}

.on-map-block{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .9);
	top:0;
	left:0;
}

.open-map{
	margin:0 auto;
	display: inline-block;
  vertical-align: middle;
  width: 100%;
}

#map{
	height: 410px;
}

.on-map-block::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}

.open-map .open-map-action{
	font-family: 'Dosis';
	font-size: 16px;
	color: rgba(255,255,255, .75);
	letter-spacing: 0.3em;
	text-transform: uppercase;
	margin-top:30px;
}
/*MAP END*/

/*FOOTER START*/
.footer{
	padding:140px 0 59px;
	background-color: #f8f8f8;
}

.footer .footer-nav{
	margin-top: 24px;
}

.footer .footer-nav li+li{
	margin-left: 15px;
}

.footer .footer-nav li:hover{
	background-color: #000;
	color:#fff;
}
.footer .footer-nav li{
	transition:all 0.2s linear;
}

.footer .copyright span{
	display: block;
}

.footer .copyright{
	line-height: 24px;
	font-weight: 400;
	margin-top: 110px;
}

.footer .copyright .copyright-author{
	font-family: 'Dosis';
	font-size: 12px;
	letter-spacing: 0.5em;
	color:#111111;
	text-transform: uppercase;
}

.footer .copyright .copyright-wish{
	font-family: 'Open Sans';
	letter-spacing: 0;
	font-size: 11px;
	color:#999999;
}
/*FOOTER END*/

/*===== Custom end =====*/


/*Media*/
/*Десктопы и ноутбуки >1300*/
/*Нетбуки, ноутбуки и планшеті альбомной ориентации 992px...1200px*/
@media (max-width: 1200px) {

}

/*Планшеты 7> в портретной ориентации и планшеты 7 в альбомной ориентации 768-991px*/
@media (max-width: 991px) {
	
}

/*Планшеты 7 в портретной ориентации и планшеты и телефоны <7 в альбомной ориентации 577-767*/
@media (max-width: 767px) {
	
}

/*Все мобильные телефоны в портретной ориентации и альбомной ориентации*/
@media (max-width: 576px) {
	
}

/*Только если сильно нужно для моб. телефонов 320X*/
@media (max-width: 479px) {
	
}
